<nb-card>
    <nb-card-body>

        <nb-tabset fullWidth>
            <nb-tab tabTitle="Courses">
                <br>
                <div><button (click)="newCourse()" nbButton status="primary">Add new course</button></div>
                <br>
                <div>
                    <nb-card *ngFor="let course of courses">
                        <nb-card-body class="space-between">
                            <div>
                                <h5>{{course.title}}</h5>
                                <div>{{course.description}}</div>
                            </div>
                            <div>
                                <button ghost (click)="deleteCourse(course)" nbButton status="primary">Delete</button>
                                <button (click)="editCourse(course)" nbButton status="primary">Edit</button>

                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>
            </nb-tab>
            <nb-tab tabTitle="Students">
                <nb-card *ngFor="let student of students">
                    <nb-card-body class="space-between">
                        <div>
                            <h5>{{student.firstName}} {{student.lastName}}</h5>
                        </div>
                        <div>
                            <button *ngIf="student.isApproved==false" (click)="acceptStudent(student)" nbButton status="primary">Accept</button>
                            <nb-icon class="tick" icon="checkmark-outline" *ngIf="student.isApproved==true">tick</nb-icon>
                        </div>
                    </nb-card-body>
                </nb-card>
            </nb-tab>
        </nb-tabset>

    </nb-card-body>
</nb-card>