<nb-card class="content-padding">
    <h5>
        Contact Us
    </h5>
    <br>

    <form [formGroup]="form" autocomplete="off">


        <div class="form-group">
            <input type="text" fieldSize="large" nbInput fullWidth shape="round" placeholder="Your name" [ngClass]="{ 'is-invalid': submitted && formControls.firstName.errors }" formControlName="firstName" />
            <div *ngIf="submitted && formControls.firstName.errors" class="invalid-feedback">
                <div *ngIf="formControls.firstName.errors.required">This field is required</div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" fieldSize="large" shape="round" nbInput fullWidth formControlName="email" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && formControls.email.errors }" />
            <div *ngIf="submitted && formControls.email.errors" class="invalid-feedback">
                <div *ngIf="formControls.email.errors.required">This field is required</div>
                <div *ngIf="formControls.email.errors.email">Email doesn't have a valid format</div>
            </div>
        </div>

        <div class="form-group">
            <textarea nbInput fullWidth shape="round" fieldSize="large" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && formControls.lastName.errors }" placeholder="Your message"></textarea>
            <div *ngIf="submitted && formControls.lastName.errors" class="invalid-feedback">
                <div *ngIf="formControls.lastName.errors.required">This field is required</div>
            </div>
        </div>


    </form>
    <br>
    <button status="primary" class="buttonSize" [disabled]="continueButtonDisabled" nbButton size="medium" shape="round" (click)="onSubmitBtn()">Send message</button>
    <br>
</nb-card>