<nb-card class="titlepadding">
    <div class="titlesize">Courses availabe in University of London</div>
    <br>
    <nb-accordion>
        <nb-accordion-item *ngFor="let course of courses">
            <nb-accordion-item-header>
                <h7>{{course.title}}</h7>
            </nb-accordion-item-header>
            <nb-accordion-item-body>
                <div class="space-between">
                    <div>
                        <div>{{course.description}}</div>
                    </div>
                    <div>
                        <button (click)="onJoinClick(course)" nbButton status="primary">Join</button>
                    </div>
                </div>
            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>
</nb-card>